/* ! ++++++++++ BASIC ++++++++++  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main: #0b5351;
  --dark: #092327;
  --light: #00c3c0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Regular";
  color: var(--light);
}

@font-face {
  font-family: "Regular";
  src: url(../font/Lora/static/Lora-Regular.ttf);
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p,
label {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* ! ++++++++++ MAIN ++++++++++  */

section {
  width: 100vw;
  height: 100vh;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

input {
  margin: 0 2rem;
}

.netto-brutto-input {
  width: 15rem;
  height: 3rem;
  background-color: var(--main);
  border: none;
  border: 2px solid var(--dark);
  border-radius: 0.5rem;
  color: var(--light);
  padding-left: 1rem;
}

.btn {
  width: 10rem;
  height: 3rem;
  background-color: var(--main);
  border: 2px solid var(--dark);
  color: var(--light);
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--dark);
}

form,
.output {
  width: 50%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 2px solid var(--dark);
  border-radius: 0.5rem;
  text-align: center;
}
